@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}
::-webkit-file-upload-button {
  display: none;
}
img {
  font: 21px "Open Sans";
}
a.back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #201A1A;
  z-index: 1;
  opacity: 0;
  transition: opacity .5s, visibility .5s;
  visibility: hidden;
  &.scrolled {
    opacity: 1;
    visibility: visible;
  }
  svg path {
    animation: slide-8 1s infinite alternate both cubic-bezier(1, -.01, 0, .98)
  }
  @keyframes slide-8 {
    to {
      transform: translateY(3px)
    }
  }
}
body {
  overflow-x: hidden;
  &.error {
    min-height: 100vh;
    background: url("../img/bg/bg 3.png") no-repeat center center / cover;
    #particles-js {
      background: none;
      color: #fffcf4;
      text-align: center;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: 0;
      overflow: hidden;
      .text {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
        transform: translate(-50%, -50%);
      }
      h1 {
        font: 400 48px "Garamond";
        margin-bottom: 40px;
      }
      a {
        padding: 12px 24px;
        background: transparent;
        color: #fffcf4;
        font: 400 21px "Open Sans";
        border: 1px solid #fffcf4;
      }
    }
  }
}
::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #201a1a;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  background: #131010;
  position: fixed;
  z-index: 1;
  height: 80px;
  &.show {
    height: 400px;
    @media (min-width: 1101px) {
      height: 80px;
    }
    nav {
      height: 330px;
      @media (min-width: 1101px) {
        height: 80px;
      }
    }
  }
  @media (max-width: 1440px) {
    padding: 0 130px;
  }
  @media (max-width: 1320px) {
    padding: 0 80px;
  }
  @media (max-width: 1200px) {
    padding: 0 30px;
  }
  @media (max-width: 1100px) {
    padding: 20px;
    align-items: start;
    transition: .5s;
  }
  @media (max-width: 900px) {
    padding: 20px 10px;
  }
  .burger {
    display: none;
    cursor: pointer;
    position: relative;
    width: 45px;
    height: 45px;
    margin-top: 5px;
    transform: scale(.7);
    &.open {
      .line {
        &:nth-child(1),
        &:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
    @media (max-width: 1100px) {
      display: block;
      .line {
        background: #fff;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        width: 100%;
        transition: .25s ease-in-out;
        inset: 0;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2),
        &:nth-child(3) {
          top: 15px;
        }
        &:nth-child(4) {
          top: 30px;
        }
      }
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #131010;
    @media (max-width: 1100px) {
      position: absolute;
      top: 80px;
      flex-direction: column;
      align-items: start;
      display: block;
      left: 0;
      height: 0;
      overflow: hidden;
      transition: .5s;
      ul {
        flex-direction: column;
        align-items: start;
        width: 100%;
        margin: 0;
        line-height: 45px;
        li {
          width: 100%;
        }
      }
      .contact {
        padding: 0 10px;
      }
    }
    ul {
      display: flex;
      align-items: center;
      margin: auto;
      li {
        a {
          font: 400 17px "Open Sans";
          color: #fff;
          padding: 10px 15px;
          will-change: font-weight;
          &.active {
            will-change: none;
            animation: none;
            font-variation-settings: "wght" 700 !important;
          }
          @keyframes getBold {
            0% {
              font-variation-settings: "wght" 400;
            }
            100% {
              font-variation-settings: "wght" 700;
            }
          }
          &:hover {
            animation: getBold .3s forwards;
          }
          &:not(:hover) {
            animation: getThin .3s forwards;
            @keyframes getThin {
              0% {
                font-variation-settings: "wght" 700;
              }
              100% {
                font-variation-settings: "wght" 400;
              }
            }
          }
        }
      }
    }
    .contact {
      display: flex;
      align-items: center;
      gap: 5px;
      @media (max-width: 1100px) {
        margin-top: 10px;
      }
      span {
        font: 18px "Open Sans";
        color: #fff;
      }
    }
  }
}
main {
  width: 100%;
  height: 630px;
  background: fixed url("../img/bg/bg.png") no-repeat center center / cover;
  z-index: 0;
  position: relative;
  &.about, &.testimonials, &.contact, &.posts {
    background: fixed url("../img/bg/bg\ 2.png") no-repeat center center / cover;
    #particles-js {
      background: rgba(0, 0, 0, .3);
      a.icon {
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 0;
      }
    }
  }
  &.works {
    background: fixed url("../img/bg/bg\ 3.png") no-repeat center center / cover;
  }
  #particles-js {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    place-items: center;
    z-index: -1;
    color: #fff;
    position: relative;
    .text {
      text-align: center;
      width: min(100%, 922px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h1 {
        font: 400 3rem/3rem "Garamond";
        text-transform: uppercase;
        padding-bottom: 1.5rem;
        width: min(100%, 853px);
        margin: auto;
        @media (max-width: 440px) {
          font-size: 2rem;
        }
      }
      p {
        font: 24px/50px "Open Sans";
        width: min(100%, 1022px);
        margin-top: 2.5rem;
        @media (max-width: 768px) {
          padding-inline: 10px;
        }
        @media (max-width: 900px) {
          padding-inline: 20px;
        }
      }
      a {
        padding: 15px 35px;
        border: 1px solid #fff;
        color: #fff;
        font: 700 18px "Open Sans";
        display: inline-block;
        @media (max-width: 487px) {
          padding: 15px 85px;
        }
        &.icon {
          border: none;
          padding: none;
        }
      }
    }
  }
}
.container {
  width: min(100%, 1180px);
  margin: auto;
}
section {
  padding: 5em 0;
  &.img {
    padding: 0;
    background: url("../img/map.png") no-repeat center center / cover;
    cursor: pointer;
    width: 100%;
    height: 456px;
  }
  h1 {
    font: 400 36px/28px "Garamond";
    text-transform: uppercase;
    @media (max-width: 900px) {
      padding-inline: 20px;
    }
    @media (max-width: 371px) {
      padding: 0;
    }
  }
  &.items,
  &.thing,
  &.question,
  &.works-dark,
  &.furniture,
  &.about-item,
  &.make,
  &.works,
  &.works-page,
  &.testimonials,
  &.contact,
  &.posts {
    background: #201a1a;
    h1 {
      color: #fffcf4;
      @media (max-width: 1320px) {
        padding-inline: 80px;
      }
      @media (max-width: 1200px) {
        padding-inline: 30px;
      }
      @media (max-width: 1100px) {
        padding-inline: 20px;
      }
      @media (max-width: 900px) {
        padding-inline: 10px;
      }
      @media (max-width: 575px) {
        text-align: center;
      }
    }
  }
  &.about-item {
    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      .card {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        p {
          padding: 35px;
          background: #fff;
          color: #131010;
          font: 20px "Open Sans";
          width: min(100%, calc(100% - 513px));
          display: grid;
          place-items: center;
        }
      }
    }
  }
  &.furniture {
    color: #fff;
    .card-row {
      display: flex;
      gap: 33.33px;
      flex-wrap: wrap;
      .card {
        width: min(100%, 270px);
        p {
          font-size: 20px;
          background: #fff;
          color: #131010;
          margin-top: -5px;
          padding: 10px 20px;
          height: 155px;
          display: flex;
          align-items: center;
        }
      }
    }
    p {
      font: 24px/28px "Open Sans";
      padding: 40px 0;
    }
  }
  &.about {
    @media (max-width: 1230px) {
      padding: 5em 1em;
    }
    .container {
      .about-info {
        @media (max-width: 600px) {
          flex-direction: column;
          justify-content: center;
        }
      }
      h1 {
        @media (max-width: 900px) {
          text-align: center;
        }
      }
      p {
        color: #131010;
        font: 400 1.25rem "Open Sans";
        text-align: justify;
        padding: 40px 0;
        @media (max-width: 900px) {
          text-align: center;
        }
      }
      .info {
        display: flex;
        gap: 34px;
        flex-wrap: wrap;
        .info-item {
          display: inherit;
          flex-direction: column;
        }
        @media (max-width: 600px) {
          flex-direction: column;
          justify-content: center;
        }
        h1 {
          color: #131010;
          font: 700 3rem "Open Sans";
        }
        p {
          padding: 0;
          font: 600 1.25rem "Open Sans";
          font-size: 20px;
        }
        .card {
          padding: .8rem 0;
          width: 100%;
          margin-top: 80px;
          p {
            text-align: center;
            padding-top: 10px;
          }
          svg {
            margin: auto;
            display: block;
          }
          &:nth-of-type(1) {
            max-width: 228px;
          }
          &:nth-of-type(2) {
            max-width: 213px;
          }
          &:nth-of-type(3) {
            max-width: 185px;
          }
          &:nth-of-type(4) {
            max-width: 240px;
          }
          &:nth-of-type(5) {
            max-width: 205px;
          }
        }
      }
      .about-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 860px) {
          justify-content: center;
          gap: 1rem;
          text-align: center;
        }
        a {
          color: #201a1a;
          font: 700 18px "Open Sans";
          padding: 15px 35px;
          border: 1px solid #201a1a;
          align-self: end;
          @media (max-width: 600px) {
            align-self: center;
          }
        }
      }
    }
  }
  &.items {
    color: #fff;
    h1 {
      font: 400 2.25rem/2.2rem "Garamond";
      text-transform: uppercase;
      padding-bottom: 5rem;
      @media (max-width: 1180px) {
        text-align: center;
      }
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      gap: 4rem;
      align-items: center;
      @media (max-width: 950px) {
        gap: 12rem;
        justify-content: center;
      }
      @media (max-width: 700px) {
        flex-direction: column;
        gap: 3rem;
      }
      .card {
        text-align: center;
        svg {
          margin-bottom: 1.25rem;
          path {
            stroke-width: 2px;
          }
        }
        p {
          font: 1.25em "Open Sans";
        }
        &:nth-child(1) {
          width: 171px;
          @media (max-width: 1300px) {
            width: 28%;
          }
          @media (max-width: 700px) {
            width: 50%;
          }
        }
        &:nth-child(2) {
          width: 18rem;
          @media (max-width: 1300px) {
            width: 23%;
          }
          @media (max-width: 700px) {
            width: 50%;
          }
        }
        &:nth-child(3) {
          width: 16.9rem;
          @media (max-width: 1300px) {
            width: 23%;
          }
          @media (max-width: 700px) {
            width: 50%;
          }
        }
        &:nth-child(4) {
          width: 12.75rem;
          @media (max-width: 1300px) {
            width: 23%;
          }
          @media (max-width: 700px) {
            width: 50%;
          }
        }
      }
    }
  }
  &.works {
    .work {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @media (max-width: 1180px) {
        padding: 1rem;
      }
      @media (max-width: 620px) {
        justify-content: center;
        gap: 1rem;
      }
      h2 {
        color: #131010;
        font: 400 2.25em/1.75em "Garamond";
        text-transform: uppercase;
      }
      a {
        color: #201a1a;
        font: 700 1.125em "Open Sans";
        border: 1px solid #201a1a;
        padding: .94rem 2.19rem;
      }
    }
    .image {
      display: flex;
      gap: 1.25rem;
      flex-wrap: wrap;
      position: relative;
      @media (max-width: 1180px) {
        justify-content: center;
        position: static;
      }
      .image-bg {
        margin-top: 1.63rem;
        .overlay {
          width: 100%;
          height: 100%;
          background: rgba(19, 16, 16, .4);
          padding: 0 0 1.19rem 1.88rem;
          display: flex;
          align-items: end;
          color: #fffcf4;
          text-transform: uppercase;
          h3 {
            font: 400 1.5em "Open Sans";
            width: min(100%, 11.875rem);
          }
        }
        &:nth-child(1) {
          background: url("../img/works/work 1.png") no-repeat center center /
            cover;
          width: 36.25rem;
          height: 17.5rem;
        }
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          width: 17.5rem;
          height: 17.5rem;
        }
        &:nth-child(2) {
          background: url("../img/works/work\ 2.png") no-repeat center center /
            cover;
        }
        &:nth-child(3) {
          width: 17.5rem;
          height: 36.25rem;
          background: url("../img/works/work\ 3.png") no-repeat center center /
            cover;
          @media (max-width: 1180px) {
            display: none;
          }
        }
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          position: absolute;
          top: 18.8rem;
          @media (max-width: 1180px) {
            position: static;
          }
        }
        &:nth-child(5) {
          left: 18.75rem;
        }
        &:nth-child(6) {
          left: 37.5rem;
        }
        &:nth-child(4) {
          background: url("../img/works/work\ 4.png") no-repeat center center /
            cover;
        }
        &:nth-child(5) {
          background: url("../img/works/work\ 5.png") no-repeat center center /
            cover;
        }
        &:nth-child(6) {
          background: url("../img/works/work\ 6.png") no-repeat center center /
            cover;
        }
      }
    }
  }
  &.block {
    .container {
      &:nth-child(2) {
        margin-top: 40px;
        display: flex;
        gap: 46px;
        flex-wrap: wrap;
        @media (max-width: 1230px) {
          gap: 30px;
          justify-content: center;
        }
        @media (max-width: 1200px) {
          gap: 20px;
        }
      }
      .item {
        width: min(100%, 260px);
        border: 1px solid #201A1A;
        color: #201a1a;
        padding: 30px;
        h2 {
          font: 400 48px/20px "Garamond";
          text-transform: uppercase;
        }
        h3 {
          font: 600 20px/28px "Open Sans";
          text-transform: uppercase;
          margin-block: 15px;
        }
        p {
          font: 400 16px/28px "Open Sans";
        }
      }
    }
  }
  &.thing {
    @media (max-width: 1180px) {
      padding: 5rem 10px;
    }
    .container {
      display: flex;
      gap: 5.63rem;
      flex-wrap: wrap;
      @media (max-width: 1151px) {
        justify-content: center;
        gap: 5rem 15.63rem;
      }
      &:nth-child(2) {
        margin-top: 2.5rem;
      }
      h2 {
        color: #fff;
        font: 400 2.25rem/1.75rem "Garamond";
        text-transform: uppercase;
        @media (max-width: 630px) {
          text-align: center;
          line-height: 2rem;
        }
      }
      .overlay {
        width: 100%;
        height: 100%;
        width: 13.75rem;
        background: rgba(32, 26, 26, .4);
        &:nth-child(3),
        &:nth-child(4) {
          .card-body {
            .overlay {
              padding-top: .35rem;
            }
          }
        }
        .image {
          width: 100%;
          height: 13.75rem;
          z-index: -1;
        }
        &:nth-child(1) {
          .image {
            background: url("../img/card/card 1.png") no-repeat center center /
              cover;
          }
        }
        &:nth-child(2) {
          .image {
            background: url("../img/card/card 2.png") no-repeat center center /
              cover;
          }
        }
        &:nth-child(3) {
          .image {
            background: url("../img/card/card 3.png") no-repeat center center /
              cover;
          }
        }
        &:nth-child(4) {
          .image {
            background: url("../img/card/card 4.png") no-repeat center center /
              cover;
          }
        }
        .card-body {
          background: #fff;
          text-align: center;
          height: 4rem;
          text-transform: uppercase;
          margin-top: -10px;
          z-index: -1;
          .overlay {
            padding-top: 1.25rem;
          }
          h2 {
            font: 600 1.3rem "Open Sans";
            color: #131010;
          }
        }
      }
    }
  }
  &.question {
    color: #fff;
    h2 {
      font: 400 2.25rem/1.75rem "Garamond";
      text-transform: uppercase;
      @media (max-width: 1175px) {
        padding: 0 1rem;
      }
    }
    .container {
      display: flex;
      gap: 1.44rem;
      flex-wrap: wrap;
      @media (max-width: 1178px) {
        justify-content: center;
      }
      &:nth-child(2) {
        margin-top: 2.5rem;
      }
      .faq {
        width: min(100%, 36.1rem);
        height: 5rem;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transition: .5s;
        cursor: pointer;
        @media (max-width: 660px) {
          width: 95%;
          margin: auto;
        }
        svg {
          transition: .5s;
        }
        &.open {
          height: 15rem;
          @media (max-width: 491px) {
            height: 17rem;
          }
          @media (max-width: 412px) {
            height: 20rem;
          }
          svg {
            transform: rotate(135deg);
          }
          .answer {
            height: 10rem;
            @media (max-width: 491px) {
              height: 12rem;
            }
            @media (max-width: 412px) {
              height: 16rem;
            }
          }
        }
        .question {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          height: 5rem;
        }
        .answer {
          transition: .5s;
          height: 0;
          overflow: hidden;
          p {
            font: 400 1.25rem/1.75rem "Open Sans";
          }
        }
        h3 {
          font: 600 1.5rem/1.75rem "Open Sans";
          @media (max-width: 480px) {
            font-size: 1rem;
          }
        }
      }
    }
  }
  &.login {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 1070px) {
      flex-direction: column;
    }
    .login-bg {
      width: min(100%, 39.6rem);
      height: 55rem;
      background: url("../img/login-bg.png") no-repeat center center / cover;
      @media (max-width: 1070px) {
        width: 100%;
      }
    }
    .login-form {
      max-width: calc(100% - 39.6rem);
      width: 100%;
      height: 55rem;
      padding: 5rem 5.12rem;
      @media (max-width: 1250px) {
        padding: 5em 3rem;
      }
      @media (max-width: 1150px) {
        padding: 5em 1rem;
      }
      @media (max-width: 1070px) {
        max-width: 75%;
        margin: auto;
      }
      @media (max-width: 850px) {
        max-width: 85%;
      }
      @media (max-width: 700px) {
        max-width: 95%;
      }
      h1 {
        color: #131010;
        font: 400 2.25rem/1.75rem "Garamond";
        text-transform: uppercase;
        @media (max-width: 1070px) {
          padding-inline: 0;
        }
      }
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        .file-input__input {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1; 
        }                 
        label {
          color: #131010;
          font: 400 1rem/1.5rem "Open Sans";
          padding: 2.5rem 0 .31rem;
          &.file {
            cursor: pointer;
            display: inline-flex;
            gap: 0 15px;
            padding: 0;
            margin-top: 5px;
            span {
              font: 400 16px/24px "Open Sans";
              color: #938F96;
            }
          } 
        }
        input {
          border: .5px solid #131010;
          padding: .625rem .625rem .625rem .3125rem;
          color: #131010;
          font-family: "Open Sans";
          outline-color: #201a1a;
          border: none;
          &::placeholder {
            color: #938f96;
            font-family: Open Sans;
            font: 400 1rem/1.5rem "Open Sans";
          }
        }
        textarea {
          border: 1px solid #131010;
          max-width: 100%;
          min-width: 100%;
          height: 9.1rem;
          max-height: 9.1rem;
          padding: .5rem;
          font-family: "Open Sans";
        }
        .agree {
          padding: 1.87rem 0 2rem;
          display: flex;
          gap: 10px;
          p {
            color: #131010;
            font: 700 16px "Open Sans";
          }
          input {
            cursor: pointer;
            width: 0;
            overflow: hidden;
            &:checked ~ .checkmark {
              background-color: #47da99;
              animation: pop 0.5s;
              animation-direction: alternate;
              &:after {
                display: block;
              }
             }
          }
          label {
            cursor: pointer;
            display: block;
            position: relative;
            cursor: pointer;
            user-select: none;
            padding: 0;
            input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
              &:checked ~ .checkmark {
                background-color: #131010;
                animation: pop 0.5s;
                animation-direction: alternate;
                &:after {
                  display: block;
                }
               }
             }
             .checkmark {
              position: relative;
              top: 0;
              left: 0;
              height: 1.3em;
              width: 1.3em;
              background-color: #ccc;
              transition: all 0.3s;
              border-radius: 5px;
              &:after {
                content: "";
                position: absolute;
                display: none;
                left: 0.45em;
                top: 0.25em;
                width: 0.25em;
                height: 0.5em;
                border: solid white;
                border-width: 0 0.15em 0.15em 0;
                transform: rotate(45deg);
               }
             }
          }
        }
        @keyframes pop {
          0% { transform: scale(1); }         
          50% { transform: scale(0.9); }         
          100% { transform: scale(1); }
         }
        button {
          padding: 15px 30px;
          color: #fffcf4;
          font: 700 1.125rem "Open Sans";
          background: #131010;
          border: none;
          cursor: pointer;
          width: 170px;
        }
      }
    }
  }
  &.about-cards {
    h1 {
      @media (max-width: 575px) {
        text-align: center;
      }
    }
    .cards {
      display: flex;
      gap: 0 40px;
      flex-wrap: wrap;
      margin-block-start: 80px;
      @media (max-width: 575px) {
        flex-direction: column;
        gap: 30px 0;
      }
      @media (max-width: 1200px) {
        justify-content: center;
        gap: 20px;
      }
      .card {
        text-align: center;
        color: #131010;
        @media (max-width: 768px) {
          margin-bottom: 30px;
        }
        @media (max-width: 575px) {
          margin: auto;
          width: 80%;
        }
        p {
          font: 400 20px "Open Sans";
        }
        &:nth-child(1) {
          width: min(100%, 198px);
        @media (max-width: 768px) {
          width: 45%;
        }          
        @media (min-width: 993px) and (max-width: 1024px) {
          width: 35%;
        }
        @media (min-width: 1024px) and (max-width: 1200px) {
          width: 30%;
        }
        }
        &:nth-child(2) {
          width: min(100%, 183px);
          @media (min-width: 993px) and (max-width: 1024px) {
            width: 35%;
          } 
        @media (max-width: 768px) {
          width: 45%;
        }    
        @media (min-width: 1024px) and (max-width: 1200px) {
          width: 30%;
        }     
        }
        &:nth-child(3) {
          width: min(100%, 185px);
          @media (min-width: 993px) and (max-width: 1024px) {
            width: 35%;
          }    
        @media (max-width: 768px) {
          width: 45%;
        }    
        @media (min-width: 1024px) and (max-width: 1200px) {
          width: 30%;
        }  
        }
        &:nth-child(4) {
          width: min(100%, 240px);
          @media (min-width: 993px) and (max-width: 1024px) {
            width: 35%;
          }   
        @media (max-width: 768px) {
          width: 45%;
        }      
        @media (min-width: 1024px) and (max-width: 1200px) {
          width: 30%;
        } 
        }
        &:nth-child(5) {
          width: min(100%, 205px);
          @media (min-width: 993px) and (max-width: 1024px) {
            width: 35%;
          }  
        @media (max-width: 768px) {
          width: 45%;
        }      
        @media (min-width: 1024px) and (max-width: 1200px) {
          width: 30%;
        }  
        }
      }
    }
  }
  &.works-dark {
    .container {
      width: min(100%, 861px);
      color: #fff;
      display: flex;
      gap: 0 85px;
      flex-wrap: wrap;
      margin: auto;
      align-items: center;
      @media (max-width: 575px) {
        text-align: center;
      }
      @media (max-width: 768px) {
        justify-content: space-between;
        gap: 0;
        padding-inline: 50px;
      }
      @media (max-width: 992px) {
        justify-content: center;
        gap: 0;
      }
      h3, h4 {
        text-transform: uppercase;
      }
      h3 {
        font: 400 24px "Open Sans";
        &:nth-of-type(1) {
          width: min(100%, 351px);
          @media (max-width: 575px) {
            margin-bottom: 30px;
          }
          @media (max-width: 768px) {
            width: 100%;
            text-align: center;
            margin-bottom: 30px;
          }
        }
        b {
          text-decoration: underline;
        }
        &:nth-of-type(2) {
          width: min(100%, 294px);
          text-align: end;
          margin-left: 50px;
          @media (max-width: 575px) {
            margin: 30px auto auto;
            text-align: center;
          }
          @media (max-width: 768px) {
            margin-top: 30px;
          }
        }
      }
      .work {
        text-align: center;
        width: min(100%, 170px);
        height: 170px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: 769px) and (max-width: 992px) {
          margin-left: 30px;
        }
        h4 {
          color: #fff;
          font: 600 16px/28px "Open Sans";
          text-transform: uppercase;
        }
        &:nth-of-type(1) {
          background: url("../img/works-dark/work 2.png") no-repeat center center / cover;
          @media (max-width: 575px) {
            margin-bottom: 30px;
          }
        }
        &:nth-of-type(2) {
          background: url("../img/works-dark/work 2.png") no-repeat center center / cover;
          @media (max-width: 575px) {
            margin-bottom: 30px;
          } 
        }
        &:nth-of-type(3) {
          background: url("../img/works-dark/work 3.png") no-repeat center center / cover;
          padding-inline: 20px;
        }
        &:nth-of-type(4) {
          background: url("../img/works-dark/work 4.png") no-repeat center center / cover;
          padding-inline: 12px 13px;
          @media (max-width: 768px) {
            margin-top: 30px;
          }
        }
      }
    }
  }
  &.variant {
    h1 {
      text-align: start;
    }
    .cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 40px;
      @media (max-width: 575px) {
        justify-content: center;
      }
      @media (max-width: 1024px) {
        justify-content: center;
        gap: 20px;
      }
      .card {
        width: min(100%, 220px);
        @media (max-width: 575px) {
          margin: 30px auto auto;
        }
        @media (min-width: 993px) and (max-width: 1024px) {
          width: 25%;
        }
        img {
          width: 100%;
          height: 220px;
        }
        h3 {
          margin-top: -4px;
          width: 100%;
          background: #201A1A;
          display: flex;
          align-items: center;
          height: 74px;
          padding-inline: 5px;
          color: #fffcf4;
          font: 400 20px "Open Sans";
          text-transform: uppercase;
        }
      }
    }
  }
  &.make {
    .card {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 40px;
      @media (max-width: 768px) {
        width: 90%;
        margin: 40px auto 30px;
      }
      @media (min-width: 993px) and (max-width: 1024px) {
        width: calc(100% - 40px);
        margin-block: 30px;
        margin-inline: auto;
      }
      img {
        width: min(100%, 513px);
        @media (max-width: 768px) {
          width: 100%;
        }
        @media (max-width: 992px) {
          width: calc(100% - 40px);
          margin: auto;
        }
      }
      p {
        width: min(100%, calc(100% - 513px));
        padding: 35px;
        background: #fff;
        color: #131010;
        font: 400 20px "Open Sans";
        @media (max-width: 768px) {
          width: 100%;
          padding: 10px;
          text-align: center;
        }
        @media (max-width: 992px) {
          width: calc(100% - 40px);
          margin: auto;
        }
      }
    }
  }
  &.furniture {
    h1 {
      line-height: 35px;
    }
    .cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 575px) {
        gap: 20px 0;
      }
      @media (max-width: 768px) {
        justify-content: center;
        gap: 30px;
      }
      @media (max-width: 1024px) {
        justify-content: center;
        gap: 20px;
      }
      .card {
        width: min(100%, 270px);
        @media (max-width: 575px) {
          margin: auto;
        }
        @media (min-width: 769px) and (max-width: 992px) {
          width: 45%;
        }
        @media (min-width: 993px) and (max-width: 1024px) {
          width: 35%;
        }
        img {
          width: 100%;
        }
      }
      p {
        margin-top: -4px;
        color: #131010;
        font: 400 20px "Open Sans";
        background-color: #fff;
        display: flex;
        height: 155px;
        padding: 10px 20px;
        align-items: center;
      }
    }
  }
  &.works-page {
    color: #fffcf4;
    .container {
      display: flex;
      gap: 85px;
      flex-wrap: wrap;
      width: min(100%, 1200px);
      @media (max-width: 1178px) {
        justify-content: center;
        gap: 55px;
      }
      @media (max-width: 1024px) {
        gap: 35px;
      }
      @media (max-width: 900px) {
        gap: 25px;
      }
      .card {
        width: min(100%, 343px);
        padding: 10px;
        h3 {
          font: 600 20px "Open Sans";
          margin-block: 15px;
          height: 54px;
          display: flex;
          align-items: center;
        }
        p {
          font: 400 16px "Open Sans";
        }
      }
    }
  }
  &.testimonials {
    .container {
      ul {
        column-count: 2;
        column-width: 571px;
        column-gap: 36px;
        li {
          margin-bottom: 36px;
        }
      }
    }
  }
  &.contact {
    .container {
      .wrapper {
        margin: auto;
        color: #fffcf4;
        width: min(100%, 672px);
        @media (max-width: 671px) {
          padding-inline: 10px;
        }
        h3 {
          font: 600 20px "Open Sans";
        }
        p {
          font: 400 20px "Open Sans";
        }
        .social {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-bottom: 52px;
          @media (max-width: 575px) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 30px 0;
          }
          h3 {
            margin-bottom: 10px;
          }
          .social-links {
            display: flex;
            gap: 0 15px;
            @media (max-width: 575px) {
              justify-content: center;
              margin-top: 20px;
            }
          }
        }
      }
      .text {
        @media (max-width: 671px) {
          text-align: center;
        }
        p {
          margin-block: 15px 20px;
        }
        h3 {
          margin-block: 0;
        }
      }
    }
  }
  &.posts {
    .container {
      @media (max-width: 1100px) {
        padding-inline: 20px;
      }
      @media (max-width: 900px) {
        padding-inline: 10px;
      }
      .card {
        &:not(:nth-child(4)) {
          margin-bottom: 40px;
        }
        width: 100%;
        background: #fffcf4;
        padding: 35px;
        display: flex;
        gap: 35px;
        flex-wrap: wrap;
        @media (max-width: 1180px) {
          padding: 25px;
          gap: 25px;
        }
        @media (max-width: 910px) {
          width: min(100%, 563px);
          margin: auto;
        }
        @media (max-width: 900px) {
          padding: 15px;
          gap: 15px;
        }
        @media (max-width: 768px) {
          padding: 10px;
          gap: 10px;
        }
        img {
          width: min(100%, 513px);
          @media (max-width: 910px) {
            margin: auto;
          }
        }
        .text {
          color: #131010;
          width: min(100%, 562px);
          @media (max-width: 1150px) {
            width: calc(100% - 538px);
          }
          @media (max-width: 910px) {
            width: 100%;
            text-align: center;
          }
          h3 {
            font: 700 24px "Open Sans";
          }
          p {
            font: 400 20px "Open Sans";
            margin-top: 20px;
          }
        }
      }
    }
  }
}
footer {
  padding: 5rem 13.88rem;
  background: #131010;
  @media (max-width: 331px) {
    margin-top: 5rem;
  }
  @media (max-width: 1300px) {
    padding: 5rem;
  }
  @media (max-width: 1000px) {
    padding: 5rem 3rem;
  }
  .container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 900px) {
      flex-direction: column;
      justify-content: center;
      gap: 2.5rem;
    }
  }
  .footer-col {
    @media (max-width: 900px) {
      text-align: center;
      width: 100%;
      margin: auto;
    }
    ul {
      display: flex;
      gap: 2.38rem;
      flex-direction: column;
      li {
        a {
          color: #fff;
          font: 1.25rem/2.5rem "Open Sans";
        }
      }
    }
    &:nth-child(1) {
      width: min(100%, 9rem);
    }
    &:nth-child(2) {
      align-self: center;
    }
    &:nth-child(3) {
      width: min(100%, 18.31rem);
      color: #fff;
      text-align: right;
      @media (max-width: 900px) {
        text-align: center;
      }
      .social-links {
        gap: .94rem;
        display: flex;
        justify-content: end;
        @media (max-width: 900px) {
          justify-content: center;
        }
      }
    }
  }
}

.slide-11 {
  animation: slide-11 1s infinite alternate both cubic-bezier(1, -.01, 0, .98);
}
@keyframes slide-11 {
  100% {
    transform: translateY(5px)
  }
}